html, body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 320px;
	
	/* disable text selection */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
table {
	margin: 0 auto;
}
#grid>table>tbody>tr>td {
	font-size: 0.8rem;
	border: 2px solid black;
	width: 23px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	transition: background-color 0.2s;
}
* {
	font-weight: bold;
}
#grid>table>tbody>tr>td:hover, a.button:hover {
	background-color: #bbcbff;
}
a.button-sm:hover {
	color: #bbcbff;
}
.header {
	min-width: 320px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 0 1em 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-item {
	box-sizing: border-box;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 50%;
	height: 50px;
}
.header-item.main {
	order: 3;
	flex-grow: 2;
}
.header-item.left {
	order: 1;
	flex-shrink: 1;
}
.header-item.right {
	order: 2;
	flex-shrink: 1;
}
a.button {
	border: 2px solid black;
	padding: 5px 20px;
	border-radius: 50px;
}
.emptyTile {
	background-color: #999999;
}
p.large {
	font-size: 1.5em;
	margin: 10px;
}

#message {
	text-align: center;
}

/* Settings */

#settingsPanel>table {
	text-align: center;
	width: 100%;
}
#settingsPanel>table>tbody>tr>td:first-of-type {
	text-align: left;
	width: 50%;
	padding: 15px 0;
}
#difficulty {
	display: inline-block;
	text-transform: capitalize;
	width: 100px;
}
a.button-sm {
	background-color: #000;
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 26px;
}
  
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 25px;
	-webkit-transition: .4s;
	transition: .4s;
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	border-radius: 50%;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider:before {
	transform: translateX(18px);
}

/* Animations */

#grid {
	transition: opacity 1s ease;
}
.hidden {
	opacity: 0;
}
.visible {
	opacity: 1;
}

.slideUp, .slideDown {
	max-height: 0;            
	overflow-y: hidden;
	transition: max-height 0.8s ease;
}
.slideDown {
	max-height: 110px;
}

/* Mobile large */
@media only screen and (min-width: 425px) {
	#grid>table>tbody>tr>td {
		width: 40px;
		height: 40px;
		font-size: 1rem;
	}
	#settingsPanel>table {
		max-width: 400px;
	}
}
/* Tablet and desktop view  */
@media only screen and (min-width: 768px) {
	#grid>table>tbody>tr>td {
		width: 50px;
		height: 50px;
		font-size: 1.2rem;
	}
	#settingsPanel>table {
		max-width: 500px;
	}
	.header-item {
		flex-basis: 250px;
	}
	.header-item.main {
		order: 2;
		flex-grow: 2;
	}
	.header-item.left {
		order: 1;
		flex-shrink: 1;
	}
	.header-item.right {
		order: 3;
		flex-shrink: 1;
	}
}